.avatar-editor .uppy-size--lg .uppy-Dashboard-Item {
	width: calc(100% - 15px - 15px);
	height: 350px;
}

.avatar-editor .uppy-Dashboard-Item-preview {
	@apply h-full !important;
}
.avatar-editor .uppy-Dashboard-Item-previewImg {
	object-fit: contain !important;
}

.avatar-editor .uppy-Dashboard-Item-action--remove {
	@apply hidden;
}

.avatar-editor.rounded-full .uppy-Root {
	border-radius: 9999px;
}
.avatar-editor.rounded-full .cropper-view-box {
	border-radius: 9999px;
}

.avatar-editor .uppy-DragDrop-inner {
	@apply p-0_5;
	z-index: 10;
}

.avatar-editor .uppy-DragDrop-arrow {
	@apply hidden;
}

.avatar-editor .uppy-DragDrop-label {
	@apply font-medium;
	margin: 0;
	@apply transition-all-eio-250;
	@apply opacity-0;
}

.avatar-editor:hover .uppy-DragDrop-label {
	@apply opacity-100;
}

.avatar-editor > div {
	@apply h-full;
}

.uppy-Dashboard-Item-action--edit {
	@apply w-2_5 !important;
	@apply h-2_5 !important;
	@apply bg-primary !important;
	@apply rounded-full;
	@apply overflow-hidden;
	@apply text-white;
	@apply p-0_5 !important;
}

.uppy-Dashboard-Item-action--edit:hover {
	@apply text-white !important;
}

.uppy-Dashboard-Item-action--edit > svg {
	@apply w-full !important;
	@apply h-full !important;
}
